@import "url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.navbar a{
    color: black;
    text-decoration: none;
}
.logo{
    font-size: 20px;
    font-weight: 500;
}
.logo span{
    font-weight: 700;
    color: rgb(245, 147, 20);
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.nav ul li{
    list-style: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 20;
}
/* title  */
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 40px;
    padding-top: 50px;
}
.title .name{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    padding: 15px;

}

/* contact us */

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1196px;
    
}

.contact-info{ 
    color: #FFF;
    background: #000;
    margin: 2rem;
    border-radius: 5px;
    padding: 2rem;
}
.contact-tilte h3{
    font-size: 27px;
    font-weight: 700;
}
.contact-tilte p{
    font-size: 15px;
    font-weight: 400;
    color: #afaaaa;
}

.contact{
    margin: 3rem 0px;
}
.contact .contactInfo li{
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 20px 0px;
    
}
.contact ul li a {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.contactMedia .contactIcon{
    display: flex;
    flex-direction: row;
    padding: 50px 0px 0px 0px;
    list-style: none;
    
}
.contactMedia .contactIcon li{
    font-size: 2rem;
    padding: 30px 10px 0px 10px;
}


